pl/Pipeline_2.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Until",
        "typeProperties": {
          "expression": {
            "value": "@variables('file_available')",
            "type": "Expression"
          },
          "timeout": "0.12:00:00",
          "activities": [
            {
              "type": "GetMetadata",
              "typeProperties": {
                "datasetSettings": {
                  "type": "Binary",
                  "typeProperties": {
                    "location": {
                      "type": "LakehouseLocation",
                      "folderPath": "data",
                      "fileName": "emp.json"
                    }
                  },
                  "linkedService": {
                    "name": "bronze",
                    "properties": {
                      "type": "Lakehouse",
                      "typeProperties": {
                        "artifactId": "5f7da4c3-e4b6-83c5-4b70-2403c8964cc6",
                        "workspaceId": "00000000-0000-0000-0000-000000000000",
                        "rootFolder": "Files"
                      },
                      "annotations": []
                    }
                  },
                  "annotations": []
                },
                "fieldList": [
                  "exists"
                ],
                "storeSettings": {
                  "type": "LakehouseReadSettings",
                  "enablePartitionDiscovery": false
                },
                "formatSettings": {
                  "type": "BinaryReadSettings"
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Get Metadata1",
              "dependsOn": []
            },
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "file_available",
                "value": {
                  "value": "@activity('Get Metadata1').output.exists",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Set variable1",
              "dependsOn": [
                {
                  "activity": "Get Metadata1",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "Wait",
              "typeProperties": {
                "waitTimeInSeconds": 15
              },
              "name": "Wait1",
              "dependsOn": [
                {
                  "activity": "Set variable1",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ]
        },
        "name": "Until1",
        "dependsOn": []
      }
    ],
    "variables": {
      "file_available": {
        "type": "Boolean",
        "defaultValue": false
      }
    }
  }
}